@model ManagerGameHub.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<div class="row">
    <div class="col-md-10 col-sm-6">
        <h1 class="fw-normal text-dark">Add Category</h1>
        <h3 class="text-secondary fw-light">You can Add category.</h3>
        <h5 class="text-secondary fw-lighter">We use these categories in any section that we'll use.</h5>
    </div>
    <div class="col-md-2 col-sm-6 text-end ">
        <a asp-action="GetAllCategories" class="btn btn-light shadow btn-sm rounded-circle"><i class="bi bi-arrow-left"></i></a>
    </div>
</div>
<hr />
<div class="shadow col-md-6 offset-md-3">
    <div class="p-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label pb-2"></label>
                <input asp-for="CategoryName" placeholder="Category Name" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group pb-3 pt-3 text-end">
                <input type="submit" value="Edit category" class="btn btn-warning shadow" />
            </div>
        </form>
    </div>
</div>>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
